spring:
  application:
    name: techchallenge-12SOAT-stock
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:stock_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  liquibase:
    change-log: classpath:liquibase/liquibase-changelog.yml

server:
  port: ${SERVER_PORT:8081}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

aws:
  region: us-east-1
  endpoint: http://localhost:4566
  sqs:
    add-stock-queue-url: http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/stock-add-event
    remove-stock-queue-url: http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/stock-remove-event
    os-status-queue-url: http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/os-update-status-event