apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock-api-deployment
  labels:
    app: stock-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: stock-api
  template:
    metadata:
      labels:
        app: stock-api
    spec:
      serviceAccountName: stock-sa
      containers:
      - name: stock-api
        image: 258531703731.dkr.ecr.us-east-1.amazonaws.com/stock-api:latest # This will be your registry image url
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        envFrom:
          - secretRef:
              name: stock-secrets
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 60
          periodSeconds: 10
          failureThreshold: 3
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3
          timeoutSeconds: 5
